
## Need assistance?
* Join the [CoreCommunity Discord Server](https://discord.gg/JmgehPSDD6) for help
* or [Create an issue](${{ env.REPOSITORY_GITHUB_URL }})

---

## Say Hi!
* Follow me on 👨‍💻 [Github](https://github.com/EnhancedJax) and stay updated on new things that I make
* You can also watch me on 🐦 [DeviantArt](https://www.deviantart.com/jaxoriginals) instead
* Message me on 🗨️ [Discord](https://discord.gg/JmgehPSDD6)

---

<p align="center">
<i>Made with ❤️ by Jax</i>
   <br/><br/>
   <img src="https://raw.githubusercontent.com/Jax-Core/ReadME-Template/main/Resources/Assets/Logo.png"  width="32" height="32"/>
</p>
---