
## Getting Started

### Prerequisites
- **Windows 10** or above
> For older systems, **Powershell v5.1 or newer** is required. Upgrade powershell **[here](https://docs.microsoft.com/en-us/powershell/scripting/windows-powershell/install/installing-windows-powershell?view=powershell-7.2#upgrading-existing-windows-powershell)**!

### Installation 
Run the following command in Powershell to download the latest version of JaxCore.

(To launch Powershell as an Admin: `Win + R` -> `powershell` -> Press `CTRL + SHIFT + ENTER` on your keyboard. Powershell can also be launched via Windows Search.)

```
Invoke-WebRequest -UseBasicParsing "https://raw.githubusercontent.com/Jax-Core/JaxCore/master/CoreInstaller.ps1" | Invoke-Expression
```

> Alternatively you can download it from the [website](https://jax-core.github.io/)

After you've proceeded through the welcome screen, select `${{ env.REPOSITORY_SLUG }}` (might have to scroll down) and click `Install`. It will appear in the library page after that.
<br />
<br />