<br />
<div align="center">
  <a href="https://github.com/Jax-Core/${{ env.REPOSITORY_SLUG }}">
    <img src="https://raw.githubusercontent.com/Jax-Core/ReadME-Template/main/Resources/Icons/${{ env.REPOSITORY_SLUG }}.png" alt="Logo" width="80" height="80">
  </a>

<h3 align="center">${{ env.REPOSITORY_SLUG }}</h3>

  <p align="center">
    ${{ REPOSITORY_DESCRIPTION }}
    <br />
    <a href="https://discord.gg/JmgehPSDD6">Help, Report Bugs & Request Features »</a>
  </p>
</div>
